body{
    color:#1c1c1b;
    margin: 0 auto;
}
/* ------header------ */
header{
    height: 844px;
    background-image: url(./image/20230322090102_1679443262131_PrqTDUecDH.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
h1{
    display: none;
}
img{
    width: 150px;
    height: 30.82px;
}
#mobile_menu_icon{
    width:22px;
    height:22px;
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.5;
}
.mobile_menu_icon_bar{
    width: 22px;
    height: 2px;
    background-color: black;
    transition-duration: 0.5s;
}
.mobile_menu_icon_bar:nth-child(1){
    margin-bottom: 4px;
}
.mobile_menu_icon_bar:nth-child(3){
    margin-top: 4px;
}
/*------picnic------ */
#picnic{
   padding:80px 0 20px 20px;
   position: relative;
}
#picnic h2{
    font-size: 16px;
}
#picnic h3{
    font-size: 32px;
    font-weight:900;
    margin-top: 20px
}
#picnic h3::before{
    content: "";
    width: 208px;
    height: 14px;
    background-color: #fdd000;
    position: absolute;
    top:136px;
    z-index: -1;
}
#picnic p{
    margin-top: 20px;
}
#picnic>p:nth-child(3){
    font-size: 14px;
    font-weight: 600;
}
#picnic p:nth-child(4){
    font-size: 12px;
}
/* button_yellow */
.button_yellow{
    margin: 20px 20px 10px 0px;
    background-color:#fdd000;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}
.button_yellow:hover{
    transition-duration: 0.3s;
    background-color: #ffe46c;
    transform: translateY(-2px);
}
/* //button_yellow */
#product_wrap{
    margin-top: 20px;
    display: flex;
    overflow:auto
}
.product{
    border: 1px solid #e6e6e6;
    margin-right: 10px;
    border-radius: 10px;
    width: 30vw;
}
.product img{
    height:156.17px;
    max-height: 100%;
    margin-bottom: 30px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
    min-width: 120px;
}
.product_textbox{
    padding: 2vw;
}
.product_textbox h4{
    font-weight: 600;
    font-size: 12px;
}
.product_textbox p{
    font-size: 11px;
}
.product_textbox p:nth-child(3){
    line-height: 18px;
}
/*------start-up_cost------ */
#start-up_cost{
    padding:80px 20px 20px 20px;
    background-color: #fdd000;
}
#start_up_cost_text h3{
    font-size: 32px;
    font-weight:900;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}
#start_up_cost_text h3::before{
    content:"";
    width: 304px;
    height: 14px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    z-index: -1;
}
#start_up_cost_text p{
    margin-top: 20px;
}
#start_up_cost_text span{
    font-size: 32px;
    font-weight: 900;
}
#start_up_cost_text>p:nth-child(3){
    font-weight: 900;
}
#start_up_cost_text>p:nth-child(4){
    font-size: 14px;
    font-weight: 600;
}
#start_up_cost_text>p:nth-child(5){
    font-size: 12px;
    margin-bottom: 30px;
}
/*------story------*/
#story{
    padding: 80px 0 20px 20px;
    position: relative;
}
#story>img{
    width: 56%;
    height: 100%;
    opacity: 0.1;
    top: 100px;
}
#story h3{
    font-size: 32px;
    font-weight:900;
    margin-top: 20px;
    
}
#story h3::before{
    content: "";
    width: 152px;
    height: 14px;
    background-color: #fdd000;
    position: absolute;
    z-index: -1;
    top:168px
}
#story p{
    margin-top: 20px;
}
#story>p:nth-child(3){
    font-size: 14px;
    font-weight: 600;
}
#story>p:nth-child(4){
    font-size: 12px;
}
#story>div:nth-child(5){
    display: flex;
}

/*------event------*/
#event{
    padding: 80px 0 20px 20px;
    position: relative;
}
#event h2{
    font-size: 16px;
    text-align: center;
}
#event h3{
    font-size: 32px;
    font-weight:900;
    margin-top: 20px;
    text-align: center;
}
#event h3::before{
    content: "";
    width: 205px;
    height: 14px;
    background-color: #fdd000;
    position: absolute;
    z-index: -1;
    top:134px

}
#event>p{
    font-size: 12px;
    text-align: center;
}
#article_wrap{
    padding: 20px;
}
.article{
    display: flex;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px 3px rgb(201, 200, 200);
    border-radius: 10px;
    cursor: pointer;
}
.article_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-size: 14px;
    overflow: auto;
}
.article>div{
    overflow: hidden;
}
.article img{
    transition: all 0.3s ease-in-out;
    max-height: 100%;
    height: 140px;
}
.article img:hover{
    transform: scale(1.1);
    
}
#article_wrap_pc{
    display: none;
}

/* button_yellow_center */
.button_yellow_center{
    margin: 0 auto;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    background-color: #fdd000;
    margin-top: 20px;
}
.button_yellow_center:hover{
    transition-duration: 0.3s;
    background-color: #ffe46c;
    transform: translateY(-2px);
}
/* //button_yellow_center */

#iframe_test{
    width: 100%;
}
/*footer*/
#tos{
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #fdd000;
    font-size: 14px;
    font-weight: 900;
    display: flex;
    justify-content: center
}
#tos p{
    padding: 0 10px;
}
#information{
    background-color: #1c1c1b;
    padding: 20px;
    color: #fff;
    text-align: center;
}
#information>div:nth-child(2) img{
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 20px;
    margin: 20px 8px;
}
#information>div:nth-child(3) span{
    color: #fff;
    font-weight: 900;
    font-size: 12px;
}
#information>div:nth-child(3) p{
    font-size: 10px;
    padding: 10px;
    color: rgb(136, 136, 136);
}
/* menu */
#menu{
    position: fixed;
    right: 0;
    top:0;
    width: 300px;
    height: 100%;
    background-color:#1c1c1b;
    transition-duration: 0.8s;
    transform: translateX(100%);
    color: #fff;
}
.sub_menu{
    display: none;
    font-size: 12px;
    color: #dcdcdc;
    transition-duration: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.sub_menu li{
    margin: 5px 0px;
}

#mobile_menu_icon_x{
    padding: 30px;
    width:22px;
    height:22px;
    cursor: pointer;
    transition-duration: 0.5;
    float: right;
}
.mobile_menu_icon_bar_x{
    width: 22px;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.5s;
}
.mobile_menu_icon_bar_x:nth-child(1){
    margin-bottom: 4px;
    transform: translateY(8px) rotate(45deg);
    transform-origin: center;
    background-color: white;
}
.mobile_menu_icon_bar_x:nth-child(2){
    opacity: 0;
}
.mobile_menu_icon_bar_x:nth-child(3){
    margin-top: 4px;
    transform: translateY(-4px) rotate(-45deg);
    transform-origin: center;
}
#menu>img{
    display: block;
    margin: 10px 30px;
    clear: both;
}
#menu>ul{
    margin: 30px;
}
#menu>ul>a>li{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    font-size: 14px;
}
/* pc */
@media screen and (min-width:1024px) {  
    header{
        background-image: url(./image/20230322090145_1679443305750_U1Uedcxm0n.png);
    }
    #start-up_cost{
        display: flex;
        justify-content: space-between;
    }
    #iframe_test{
        width: 50%;
        min-height: 300px;
    }
    #article_wrap{
        display: none;
        overflow: auto;
    }
    #article_wrap_pc{
        display: flex;
        justify-content: center;
        margin: 40px 0px;
    }
    .article_pc{
       box-shadow: 3px 3px 3px 3px rgb(201, 200, 200);
       border-radius: 10px;
       cursor: pointer;
       margin:0 20px;
    }
    .article_pc>div{
        overflow: hidden;
    }
    .article_pc img{
       width: 400px;
       height: 400px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;;
    }
    .article_text_pc{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }
    .article_text_pc>p:first-child{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .article_text_pc>p:not(:first-child){
        font-size: 14px;
        margin-bottom: 5px;
    }
    .article_pc img:hover{
        transform: scale(1.1);
    }
}



