@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@100;200;400&family=Noto+Sans+KR&display=swap');

body {
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
  color: #131313;
}

/* -----header---- */
header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #ffffff;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 2;
}
header ul{
  display: none;
}
h1>span {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 24px;
}

h1 {
  font-family: 'Kanit', sans-serif;
  letter-spacing: 5px;
  font-size: 24px;
  font-weight: 200;
}

#menu_icon {
  position: relative;
  width: 22px;
  height: 22px;
  cursor: pointer;
  overflow: hidden;
  transition-duration: 0.5;
}

.menu_icon_bar {
  width: 22px;
  height: 3px;
  background-color: black;
  transition-duration: 0.3s;
}

.menu_icon_bar:nth-child(1) {
  margin-bottom: 5px;
}

.menu_icon_bar:nth-child(3) {
  position: absolute;
  margin-top: 5px;
  width: 12px;
  right: 0px;
}

#menu_icon:hover .menu_icon_bar:nth-child(3) {
  transition: 0.1s;
  width: 22px;
}

/* menu_mobile */
#menu_mobile {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  visibility: hidden;
  z-index: 3;
}

h2>span {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 24px;
  color: #4f4f4f;
}

h2 {
  padding: 30px 0px 0px 30px;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 5px;
  font-size: 24px;
  font-weight: 200;
  color: #4f4f4f;
}

#menu_icon_x {
  padding: 30px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition-duration: 0.5;
  float: right;
}

.menu_icon_bar_x {
  width: 26px;
  height: 4px;
  transition-duration: 0.5s;
}

.menu_icon_bar_x:nth-child(1) {
  margin-bottom: 4px;
  transform: translateY(8px) rotate(45deg);
  transform-origin: center;
  background-color: #000;
}

.menu_icon_bar_x:nth-child(2) {
  opacity: 0;
}

.menu_icon_bar_x:nth-child(3) {
  margin-top: 4px;
  transform: translateY(-8px) rotate(-45deg);
  transform-origin: center;
  background-color: #000;
}

#menu_mobile {
  display: auto;
}

#menu_mobile ul {
  margin: 60px 0 0 30px;
  line-height: 100px;
}

#menu_mobile li {
  font-family: 'Bebas Neue', cursive;
  font-size: 44px;
  color: #636363;
  cursor: pointer;
}

.under_line {
  position: relative;
}

.under_line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0px;
  height: 10px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  background-color: #636363;
  ;
}

.under_line:hover::after {
  width: 18vh;
  opacity: 1;
}

#menu_mobile_sns {
  font-size: 34px;
  float: right;
  margin: 40px 30px 0 0;
  color: #636363;
  cursor: pointer;
}
.bi{
  margin: 0 5px;
}
.bi:hover {
  color: #000;
}

/*------ main --------*/
main{
  margin-top: 84px;
}
#main_text {
  padding: 60px;
  line-height: 40px;
  letter-spacing: -1px;
  position: relative;
}

#main_text p {
  font-size: 18px;
  font-weight: 200;
}

#main_text>p:nth-child(4) {
  font-size: 12px;
  font-weight: 900;
}

#main_text p:nth-child(1)::before {
  content: "";
  width: 12px;
  height: 3px;
  position: absolute;
  background-color: #999;
  top: 78px;
  left: 33px;
}

#main_text p:nth-child(2)::before {
  content: "";
  width: 12px;
  height: 3px;
  position: absolute;
  background-color: #999;
  top: 120px;
  left: 33px;
}

#main_text p:nth-child(3)::before {
  content: "";
  width: 12px;
  height: 3px;
  position: absolute;
  background-color: #999;
  top: 160px;
  left: 33px;
}

/* swiper */
.mySwiper>.swiper-wrapper>.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper>.swiper-wrapper>.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
}

.swiper .swiper-pagination-bullet {
  background-color: #fff;
}

/* about */
#about {
  padding: 80px 30px 30px 30px;
}

#about h3 {
  font-family: 'Kanit', sans-serif;
  letter-spacing: 5px;
  font-weight: 900;
}

#about h4 {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-size: 32px;
  letter-spacing: -2px;
  margin-top: 10px;
}

#about p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
}

.black_button {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

  width: 180px;
  height: 45px;
  background-color: #000;
  color: #fff;
  cursor: pointer;

  font-family: 'Kanit', sans-serif;
  line-height: 40px;
  font-size: 16px;
  font-weight: 900;
  border: 2px solid;
}

.black_button:hover {
  background-color: #fff;
  color: #000;
}

.line {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 17px 0;
}

.black_button:hover .line {
  background-color: #000;
}

#about img {
  width: 100%;
  margin-top: 30px;
  max-width: 350px;
}

/* brand */
#brand_text {
  padding: 30px;
}

#brand_text h3 {
  font-family: 'Kanit', sans-serif;
  letter-spacing: 5px;
  font-weight: 900;
}

#brand_text h4 {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-size: 32px;
  letter-spacing: -2px;
  margin-top: 10px;
}

#brand_text p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
}

#card_wrap{
  padding: 30px;
  display: flex;
  overflow:auto
}
.card{
  border: 1px solid #e6e6e6;
  margin-right: 30px;
  border-radius: 10px;
  min-width: 200px;
  box-shadow: 3px 3px 3px 3px rgb(201, 200, 200);
  cursor: pointer;
}
.card img{
  width: 100%;
  margin-bottom: 30px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  min-width: 120px;
}
.card_textbox{
  padding: 2vw;
}
.card_textbox h4{
  margin-top: 10px;
  font-weight: 900;
  font-size: 14px;
}
.card:hover .card_textbox h4{
  text-decoration: underline;
}
.card_textbox p{
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
}

/* contact */
#contact{
  padding: 80px 30px 30px 30px;
  background-color: #f5f5f5
}

#contact h3 {
  font-family: 'Kanit', sans-serif;
  letter-spacing: 5px;
  font-weight: 900;
}

#contact h4 {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height:36px;
  letter-spacing: -2px;
  margin-top: 10px;
}
#map{
  margin: 30px 0;
  max-width: 300px;
}
#contact p{
  margin-top: 30px;
}
#contact_pc{
  display: none;
}
/* footer */
#footer_mo{
  padding: 30px;
}
#footer_mo_sns{
  display: flex;
  justify-content: space-between;
}
#footer_mo_sns p{
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  cursor: pointer;
}
#footer_mo_sns p:hover{
  text-decoration: underline;
}

#table_mo{
  margin:30px -8px;
}
#table_mo th,td{
  padding: 10px;
}
#table_mo th{
  text-align: left;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-size: 14px;
}
#table_mo td{
  font-size: 14px;
}
#footer_mo>p{
  margin-top: 30px;
  font-size: 13px;
}
#footer_mo>p>span{
  font-weight: 900;
}
#footer_pc{
  display: none;
}

/* pc  1024px이상*/
@media screen and (min-width:1024px){
  header ul{
    display: block;
    display: flex;
  }
  header li{
    margin: 0 30px;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
  }
  .li_under_line {
    position: relative;
  }
  .li_under_line::after {
    content: "";
    position: absolute;
    left: 0;
    top: 22px;
    height: 5px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    background-color: #636363;
    ;
  }
  .li_under_line:hover::after {
    width: 80px;
    text-align: center;
    opacity: 1;
  }
  #about{
    display: flex;
    justify-content: space-between;
  }
  #about img{
    margin-top: 1vh;
  }
  #contact{
    display: none;
  }
  #contact_pc{
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 30px 30px;
    background-color: #f5f5f5;
  }
  #contact_pc h3 {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 5px;
    font-weight: 900;
  }
  
  #contact_pc h4 {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height:36px;
    letter-spacing: -2px;
    margin-top: 10px;
  }
  #contact_pc p{
    margin-top: 30px;
  }
  #map_pc{
    min-width: 740px;
  }
  #footer_mo{
    display: none;
  }
  #footer_pc{
    display: block;
    padding: 30px;
  }
  #footer_box{
    display: flex;
    justify-content: space-between;
  }
  #footer_pc_sns{
    display: flex;
    justify-content: space-between;
    flex: 0.4;
  }
  #footer_pc_sns p{
    font-size: 18px;
    line-height: 50px;
    font-weight: 900;
    cursor: pointer;

    font-family: 'Kanit', sans-serif;
    font-weight: 900;
  }
  #footer_pc_sns p:hover{
    text-decoration: underline;
  }
  #table_pc th{
    text-align: left;
    font-weight: 900;
  }
  #table_pc td{
    font-size: 14px;
    padding: 18px;
  }
  #footer_pc>p{
    margin-top: 8vh;
    text-align: center;
    font-size: 13px;
  }
  #footer_pc span{
    font-weight: 900;
  }
}